@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}
body{
  background-color:#0a192f;
  color:#edeced
 
}





/* .image{
  background-image: url('../assets/images/Teslim.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
} */
.Teslim {
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: circle;
}

.first-block {
  position: absolute;
  width: 0%;
  height: 100vh;
  z-index: 10000;
  background:  blue;
  animation: go-left 4s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  left: 0;
}

@keyframes go-left{
  0%{
      left: 0;
      width: 0%;
  }
  50%{
      left: 0;
      width: 100%;
  }
  100%{
      left: 100%;
      width: 0%;
  }
}

/* width */
  ::-webkit-scrollbar {
    width: 2px;
    scroll-behavior: smooth;

  }



#overflow::-webkit-scrollbar {
  margin-top:2%;
height: 5px;;
}
#overflow::-webkit-scrollbar-thumb {
  background: blue;
}
/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #98dad9
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay{
  background:rgba(13, 86, 164, 0.95)
}


@media screen and (min-width:1012px){
  html{
    scroll-behavior: smooth;
   }
   
}
.link {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient( #98dad9,#98dad9);
  background-position: right -100% bottom 0;
  background-size: 200% 2px;
  background-repeat: no-repeat;
  transition:
  background-size 0.3s,
  background-position 0s 0.3s; /*change after the size immediately*/
}


.link:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

