@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}
body{
  color: black;
  background-color:#edeced
 
}





/* .image{
  background-image: url('../assets/images/Teslim.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  
} */
.Teslim {
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: circle;
}

/* width */
  ::-webkit-scrollbar {
    width: 2px;
    scroll-behavior: smooth;

  }



#overflow::-webkit-scrollbar {
  margin-top:2%;
height: 5px;;
}
#overflow::-webkit-scrollbar-thumb {
  background: blue;
}
/* Track */
::-webkit-scrollbar-track {
  background: darkslategray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edeced
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.overlay{
  background:rgba(13, 86, 164, 0.95)
}


@media screen and (min-width:1012px){
  html{
    scroll-behavior: smooth;
   }
   
}
.link {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(white, blue);
  background-position: right -100% bottom 0;
  background-size: 200% 2px;
  background-repeat: no-repeat;
  transition:
  background-size 0.3s,
  background-position 0s 0.3s; /*change after the size immediately*/
}


.link:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

